<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/animationSobre.css">
  <link rel="stylesheet" href="css/header-window.css">
  <link rel="stylesheet" href="css/sobre.css">
  <link rel="stylesheet" href="css/trabalhos.css">
  <link rel="stylesheet" href="css/galeria.css">
  <!-- <link rel="stylesheet" href="css/animationTrabalhos.css"> -->

  <title>Lucas Torres Developer</title>
</head>

<body>

  <div class="header"></div>

  <%- include('includes/navbar') %>
  <%- include('includes/animationSobre') %>
  <%- include('includes/sobre') %>
  <%- include('includes/animationTrabalhos') %>
  <%- include('includes/trabalhos') %>
  <%- include('includes/animationCarrossel') %>
  <%- include('includes/galeria') %>



  <script src="js/linksNavBar.js"></script>
</body>

</html>