<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/logo_icon.png" type="image/x-icon">

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/index-home.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/animation.css">
  <link rel="stylesheet" href="css/header-window.css">
  <link rel="stylesheet" href="css/sobreMobile.css">
  <link rel="stylesheet" href="css/sobreDesktop.css">
  <link rel="stylesheet" href="css/trabalhos.css">
  <link rel="stylesheet" href="css/galeria.css">
  <link rel="stylesheet" href="css/contato.css">
  <link rel="stylesheet" href="css/galeria-fullscreen.css">

  <title>Lucas Torres Developer</title>
</head>

<body>

  <div class="btn-reload"></div>
  <div class="btn-index">></div>

  <%- include('includes/index-home') %>
  <!-- <%- include('includes/animationSobre') %> -->
  <%- include('includes/sobre') %>
  <!-- <%- include('includes/animationTrabalhos') %> -->
  <%- include('includes/trabalhos') %>
  <!-- <%- include('includes/animationCarrossel') %> -->
  <%- include('includes/galeria') %>
  <!-- <%- include('includes/animationContato') %> -->
  <%- include('includes/contato') %>
  <!-- <%- include('includes/galeria-fullscreen') %> -->



  <script src="js/linksNavBar.js"></script>
  <script src="js/filtros.js"></script>
  <script src="js/openTrabalho.js"></script>
  <script src="js/sobre.js"></script>
  <script src="js/galeria-carrossel.js"></script>
</body>

</html>