<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/logo_icon.png" type="image/x-icon">

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/index-home.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/animation.css">
  <link rel="stylesheet" href="css/window-cmd.css">
  <link rel="stylesheet" href="css/header-window.css">
  <link rel="stylesheet" href="css/sobreMobile.css">
  <link rel="stylesheet" href="css/sobreDesktop.css">
  <link rel="stylesheet" href="css/trabalhos.css">
  <link rel="stylesheet" href="css/galeria.css">
  <link rel="stylesheet" href="css/contato.css">
  <link rel="stylesheet" href="css/galeria-fullscreen.css">

  <title>Lucas Torres Developer</title>
</head>

<body>

  <div class="btn-index">&gt;</div>

  <%- include('includes/index-home') %>

  <section class="lazy-section" id="sobre" data-url="/sobre">
    <%- include('includes/animationSobre') %>
  </section>

  <section class="lazy-section" id="trabalhos" data-url="/trabalhos">
    <%- include('includes/animationTrabalhos') %>
  </section>

  <section class="lazy-section" id="galeria" data-url="/galeria">
    <%- include('includes/animationGaleria') %>
  </section>

  <section class="lazy-section" id="contato" data-url="/contato">
    <%- include('includes/animationContato') %>
  </section>


  <script src="js/linksNavBar.js" type="module"></script>
  <script src="js/header-window.js" type="module"></script>
  <script src="js/animation-cmd.js" type="module"></script>
  <script src="js/bundle.js" type="module"></script>
</body>

</html>