<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/index-home.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/animation.css">
  <link rel="stylesheet" href="css/header-window.css">
  <link rel="stylesheet" href="css/sobre.css">
  <link rel="stylesheet" href="css/trabalhos.css">
  <link rel="stylesheet" href="css/galeria.css">
  <link rel="stylesheet" href="css/contato.css">

  <title>Lucas Torres Developer</title>
</head>

<body>

  <div class="btn-reload"></div>
  <div class="btn-index">></div>

  <%- include('includes/index-home') %>
  <%- include('includes/animationSobre') %>
  <%- include('includes/sobre') %>
  <%- include('includes/animationTrabalhos') %>
  <%- include('includes/trabalhos') %>
  <%- include('includes/animationCarrossel') %>
  <%- include('includes/galeria') %>
  <%- include('includes/animationContato') %>
  <%- include('includes/contato') %>



  <script src="js/linksNavBar.js"></script>
  <script src="js/filtros.js"></script>
</body>

</html>